*{
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Light.woff2') format('woff2'),
      url('../fonts/Poppins-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
      url('../fonts/Poppins-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
      url('../fonts/Poppins-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
      url('../fonts/Poppins-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.github-icon{
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
}

.github-icon a{
  width: 100px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.github-icon img{
  width: calc(60px + 2vw);
  transition: all 0.4s ease-in-out;
}

/* @media only screen and (max-width: 600px) {
  .github-icon img{
    width: 80px;
  }
}
@media only screen and (max-width: 400px) {
  .github-icon img{
    width: 70px;
  }
} */

.container{
  position: relative;
  max-width: 1230px;
  margin: auto;
}

.row{
  display: flex;
  flex-direction: column;
} 

.footer-content{
  text-align: center;
  margin-bottom: 10px;
}

.footer-content p{
  margin-bottom: 0;
  margin-top: 40px;
}

.footer-content a{
  text-decoration: none;
}




