$font-family: 'Poppins', sans-serif;

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Light.woff2') format('woff2'), url('../fonts/Poppins-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Regular.woff2') format('woff2'), url('../fonts/Poppins-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'), url('../fonts/Poppins-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../fonts/Poppins-Bold.woff2') format('woff2'), url('../fonts/Poppins-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: $font-family;
	margin: 0;
	padding: 0;
}

.github-icon {
	overflow: hidden;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	a {
		width: 100px;
		height: 100px;
		display: flex;
		align-items: flex-start;
		justify-content: flex-end;
	}
	img {
		width: 90px;
		transition: all 0.4s ease-in-out;
	}
}

.container {
	position: relative;
	max-width: 1230px;
	margin: auto;
}

.row {
	display: flex;
	flex-direction: column;
}

.footer-content {
	text-align: center;
	margin-bottom: 10px;
	p {
		margin-bottom: 0;
		margin-top: 40px;
	}
	a {
		text-decoration: none;
	}
}

@media only screen and (max-width: 600px) {
	.github-icon {
		img {
			width: 80px;
		}
	}
}

@media only screen and (max-width: 400px) {
	.github-icon {
		img {
			width: 70px;
		}
	}
}
